<p-card header="Sua Conta" [style]="{'width': '100%'}">
  <div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-4">
      <div [class]="'box p-shadow-1 opcoes-sua-conta'">
        <i class='pi pi-id-card icone-opcao'></i>
        Visualizar dados cadastrais
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-4">
      <div [class]="'box p-shadow-1 opcoes-sua-conta'">
        <i class='pi pi-lock icone-opcao'></i>
        Alterar senha
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-4">
    <div [class]="'box p-shadow-1 opcoes-sua-conta'">
      <i class='pi pi-trash icone-opcao'></i>
      Excluir conta
    </div>
  </div>
  </div>
</p-card>
