.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFD54F40;
  color: #b39637;
  text-align: center;
  height: 27px;
}

.link {
  color: #b79837;
}

.link:hover {
  color: #fad04c;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #b79837;
  text-align: left;
  padding: 8px;
}
