<p-card header="Dados Base">
  <div class="p-d-flex p-flex-wrap">
    <div class="p-mr-3 p-mb-3">
      <b>Nome:</b>
      <div style="margin-left: 5px">{{personagem.nome}}</div>
    </div>
    <div class="p-mr-3 p-mb-3">
      <b>Apelido:</b>
      <div style="margin-left: 5px">{{personagem.apelido}}</div>
    </div>
    <div class="p-mr-3 p-mb-3">
      <b>Raça:</b>
      <div style="margin-left: 5px">{{personagem.raca.nome}}</div>
    </div>
    <div class="p-mr-3 p-mb-3">
      <b>Classe:</b>
      <div style="margin-left: 5px">{{personagem.classe.nome}}</div>
    </div>
  </div>
  <div class="p-d-flex p-flex-wrap">
    <div class="p-mr-3 p-mb-3">
      <b>Gênero:</b>
      <div style="margin-left: 5px">{{retornarGenero()}}</div>
    </div>
    <div class="p-mr-3 p-mb-3">
      <b>Idade:</b>
      <div style="margin-left: 5px">{{personagem.idade}} anos</div>
    </div>
    <div class="p-mr-3 p-mb-3">
      <b>Peso:</b>
      <div style="margin-left: 5px">{{personagem.peso}} kg.</div>
    </div>
    <div class="p-mr-3 p-mb-3">
      <b>Altura:</b>
      <div style="margin-left: 5px">{{personagem.altura}} m.</div>
    </div>
  </div>
  <div class="p-d-flex p-flex-wrap">
    <div class="p-mr-3 p-mb-4">
      <b>Pele:</b>
      <div class="box p-shadow-20 item-cor"
           [style]="{'background-color': personagem.pele.codigoCor, 'color': '#00000000', 'font-size':'22px'}">
        COR
      </div>
    </div>
    <div class="p-mr-3 p-mb-4">
      <b>Cabelo:</b>
      <div class="box p-shadow-20 item-cor"
           [style]="{'background-color': personagem.cabelo.codigoCor, 'color': '#00000000', 'font-size':'22px'}">
        COR
      </div>
    </div>
    <div class="p-mr-3 p-mb-4">
      <b>Olho:</b>
      <div class="box p-shadow-20 item-cor"
           [style]="{'background-color': personagem.olho.codigoCor, 'color': '#00000000', 'font-size':'22px'}">
        COR
      </div>
    </div>
  </div>
  <br/>
  <app-personagem-status [personagem]="personagem"></app-personagem-status>
</p-card>
