<p-card header="Dados Base">
  <div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-6" style="display: flex">
      <div>Nome:</div>
      <b style="margin-left: 5px">{{personagem.nome}}</b>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="display: flex">
      <div>Apelido:</div>
      <b style="margin-left: 5px">{{personagem.apelido}}</b>
    </div>
    <div class="p-col-6 p-md-3 p-lg-3" style="display: flex">
      <div>Raça:</div>
      <b style="margin-left: 5px">{{personagem.raca.nome}}</b>
    </div>
    <div class="p-col-6 p-md-3 p-lg-3" style="display: flex">
      <div>Classe:</div>
      <b style="margin-left: 5px">{{personagem.classe.nome}}</b>
    </div>

    <!--
    <label class="p-col-2 p-md-1 p-lg-1">Gênero: </label>
    <label class="p-col-4 p-md-2 p-lg-2" style="font-weight: 700">{{retornarGenero()}}</label>
    <label class="p-col-2 p-md-1 p-lg-1">Idade:</label>
    <label class="p-col-4 p-md-2 p-lg-2" style="font-weight: 700">{{personagem.idade}} anos</label>
    <label class="p-col-2 p-md-1 p-lg-1">Peso</label>
    <label class="p-col-4 p-md-2 p-lg-2" style="font-weight: 700">{{personagem.peso}} kg.</label>
    <label class="p-col-2 p-md-1 p-lg-1">Altura</label>
    <label class="p-col-4 p-md-2 p-lg-2" style="font-weight: 700">{{personagem.altura}} m.</label>

    <label class="p-col-2 p-md-1 p-lg-1">Gênero: </label>

    <label class="p-col-4 p-md-2 p-lg-2"></label>
    <label class="p-col-8 p-md-4 p-lg-4" style="font-weight: 700"></label>
    <label class="p-col-4 p-md-2 p-lg-2"></label>
    <label class="p-col-8 p-md-4 p-lg-4" style="font-weight: 700"></label>-->
  </div>

  <table style="width: 100%">
    <tr class="p-grid">
      <td class="p-col-1 info-area">
        Pele
      </td>
      <td class="p-col-1 info-area" [style]="{'background-color': personagem.pele.codigoCor}">
      </td>
      <td class="p-col-1 info-area">
        Cabelo
      </td>
      <td class="p-col-1 info-area" [style]="{'background-color': personagem.cabelo.codigoCor}">
      </td>
      <td class="p-col-1 info-area">
        Olho
      </td>
      <td class="p-col-1 info-area" [style]="{'background-color': personagem.olho.codigoCor}">
      </td>
    </tr>
  </table>
  <br/>
  <app-personagem-status [personagem]="personagem"></app-personagem-status>
</p-card>
