<p-toast position="top-center" key="tc"></p-toast>
<nav class="navbar navbar-expand-lg navbar-light bg-light background-header">
  <a routerLink="" href="#"
     class="navbar-brand logo-principal logo-principal:hover">
    GALAXY
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" [class.active]="paginaAtual == 'universo'">
        <a class="nav-link" (click)="paginaAtual = 'universo'"
           routerLink="universo" href="#">Universo</a>
      </li>

      <li [hidden]="!isLogado"
          class="nav-item" [class.active]="paginaAtual == 'campanha'">
        <a class="nav-link" (click)="paginaAtual = 'campanha'"
           routerLink="campanha" href="#">Campanhas</a>
      </li>

      <li [hidden]="!isLogado"
          class="nav-item" [class.active]="paginaAtual == 'personagem'">
        <a class="nav-link" (click)="paginaAtual = 'personagem'"
           routerLink="personagem" href="#">Personagens</a>
      </li>

      <li class="nav-item" [class.active]="paginaAtual == 'sobre'">
        <a class="nav-link" (click)="paginaAtual = 'sobre'"
           routerLink="sobre" href="#">Sobre</a>
      </li>
    </ul>

    <span class="navbar-text cadastrar-login" [hidden]="!isLogado" style="margin-right: 1em;"
          (click)="[showSideBarUser = true, showContaUsuario = true, showLogin = false, showCadastro = false]">
      Olá, {{usuario.nome}}
    </span>
    <a class="nav-link cadastrar-login" [hidden]="isLogado"
       (click)="[showSideBarUser = true, showLogin = true, showCadastro = false]">
      Entre ou Cadastre-se
    </a>
  </div>
</nav>

<p-sidebar id="sideBar" position="right" [baseZIndex]="10000"
           [(visible)]="showSideBarUser" [style]='{backgroundColor: "#d0b04f"}'>
  <div [hidden]="!showLogin" id="login">
    <h2 style="font-weight:normal">
      Login
    </h2>
    <form>
      <div style="margin-bottom: 1.5em"
           class="alert alert-danger" role="alert" [hidden]="mensagemErroLogin==null">
        {{mensagemErroLogin}}
      </div>

      <span class="p-float-label" style="margin-bottom: 2em; margin-top: 2em">
        <input id="loginInputEmail" type="email" class="form-control" aria-describedby="emailHelp"
               [required]="true" [(ngModel)]="usuario.email" name="email" pInputText>
      <label style="font-size: 1em;"
             for="loginInputEmail">Email</label>
      </span>

      <span class="p-float-label">
        <input id="loginInputPassword" type="password" class="form-control" pInputText
               [required]="true" [(ngModel)]="usuario.senha" name="senha">
      <label style="font-size: 1em;"
             for="loginInputPassword">Senha</label>
    </span>

      <button style="margin-top: 1em"
              (click)="logar()" type="submit" class="btn btn-dark btn-block">Logar
      </button>
    </form>
  </div>
  <a [hidden]="!showLogin"
     style="color: darkred!important;" class="form-text text-muted"
     (click)="showLogin = false; showCadastro = true">
    Não tem conta? Clique aqui para cadastrar-se.
  </a>

  <div [hidden]="!showCadastro" id="cadastro">
    <h2 style="font-weight:normal">
      Cadastro
    </h2>

    <form>
      <div style="margin-bottom: 1.5em"
           class="alert alert-danger" role="alert" [hidden]="mensagemErroCadastro ==null">
        {{mensagemErroCadastro}}
      </div>

      <span class="p-float-label" style="margin-bottom: 2em; margin-top: 2em">
        <input id="cadastroInputNome" type="email" class="form-control" aria-describedby="emailHelp"
               [required]="true" [(ngModel)]="usuarioCadastro.nome" name="nome" pInputText>
        <label style="font-size: 1em;"
               for="cadastroInputNome">Nome</label>
      </span>

      <span class="p-float-label" style="margin-bottom: 2em;">
        <input id="cadastroInputEmail" type="email" class="form-control" aria-describedby="emailHelp"
               [required]="true" [(ngModel)]="usuarioCadastro.email" name="email" pInputText>
        <label style="font-size: 1em;"
               for="cadastroInputEmail">Email</label>
      </span>

      <span class="p-float-label" style="margin-bottom: 2em;">
        <input id="cadastroInputPassword" type="password" class="form-control" pInputText
               [required]="true" [(ngModel)]="usuarioCadastro.senha" name="senha">
        <label style="font-size: 1em;"
               for="cadastroInputPassword">Senha</label>
      </span>

      <span class="p-float-label" style="margin-bottom: 1em;">
        <input id="cadastroInputPasswordConfirmacao" type="password" class="form-control" pInputText
               [required]="true" [(ngModel)]="confirmacaoSenha" name="confirmacaoSenha">
        <label style="font-size: 1em;"
               for="cadastroInputPasswordConfirmacao">Confirmar Senha</label>
    </span>

      <button type="submit" (click)="cadastrarUsuario()"
              class="btn btn-success btn-block btn-lg">Cadastrar-se
      </button>
      <button type="button" class="btn btn-danger btn-block btn-sm"
              (click)="[showLogin = true, showCadastro = false]">Cancelar
      </button>
    </form>
  </div>

  <app-dados-usaurio style="height: 100%"
                     [usuario]="usuario" [hidden]="!showContaUsuario">
  </app-dados-usaurio>
</p-sidebar>
