.titulo-principal {
  color: #241d03;
  font-weight: bolder;
  font-size: 28px;
  text-align: center;
}

.titulo-principal:hover {
  cursor: pointer;
  background-color: #cbaa3e;
}

/*

.logo-principal {
  color: #241d03;
  font-weight: bolder;
}


.logo-principal:hover {
  color: #c1a13c;
  font-weight: bolder;
}

.background-header {
  background-color: #ffd54f !important;
}

.cadastrar-login:hover {
  cursor: pointer;
}

.link-cadastrar {
  color: #b10202 !important;
  text-align: center;
  font-weight: 700;
}

.link-cadastrar:hover {
  color: red !important;
  cursor: pointer;
}

.input-cadastro {
  margin-bottom: 5px;
}
*/
