.logo-principal{
  color: #241d03;
  font-weight: bolder;
}
.logo-principal:hover{
  color: #c1a13c;
  font-weight: bolder;
}
.background-header{
  background-color: #FFD54F !important;
}

.cadastrar-login:hover{
  cursor: pointer;
}
