<div class="w3-teal"
     style="width: 100% !important; height: 42px !important; background-image: linear-gradient(to right, #ffd54f, #c1a13c)  !important;">
  <div class="p-grid" style="margin: 0px !important; padding: 0px !important;">
    <div class="p-col-4 p-md-4 p-lg-4" style="margin: 0px !important; padding: 0px !important;">
      <button class="w3-teal w3-xlarge w3-hide-large"
              style="background-color: #f8cf4d !important; font-weight: bold;
              margin-right: auto !important;
              border: none; color: black!important; height: 100%"
              onclick="w3_open()">&#9776;
      </button>
    </div>
    <div class="p-col-4 p-md-4 p-lg-4" style="margin: 0px !important; padding: 0px !important;">
      <div routerLink=""
           style="color: #241d03; font-weight: bolder; font-size: 28px; text-align: center;">
        GALAXY
      </div>
    </div>
    <div class="p-col-4 p-md-4 p-lg-4" style="margin: 0px !important; padding: 0px !important;">
      <div class="box"></div>
    </div>
  </div>
</div>
