<div class="p-d-flex p-flex-column p-flex-md-row">
  <div class="p-mb-1 p-mr-4 teste">
    <p-menu [style]="{'margin-left': '5px'}" class="teste"
            [model]="itensMenuPersonagem"></p-menu>
  </div>
  <div class="p-mb-5 p-mr-8" [style]="{'width': '100%'}">
    <app-personagem-dados-base [hidden]="itemAtual != 'BASE'"
                               [personagem]="personagem">
    </app-personagem-dados-base>


    <p-card header="Atributos" [hidden]="itemAtual != 'ATRIBUTOS'"
            [style]="{'width': '95%'}">
      <ng-template pTemplate="header"></ng-template>
      <div class="p-grid">
        <div class="p-col-4 p-grid" *ngFor="let atributo of personagem.listaAtributos; index as i;">
          <div class="p-col-8 info-area label-info" style="font-size: 22px">
            <p-chip icon="pi pi-caret-up" [label]="atributo.nome"
                    [style]="{'font-size': '22px', 'background-color':'#1e1e1e'}">
            </p-chip>
          </div>
          <div class="p-col-4 info-area label-info"
               style="font-size: 22px" align="center">
            {{atributo.valor}}
          </div>
        </div>
      </div>
      <br/>
      <p style="font-size: 1.5rem; font-weight: 700; margin-bottom: 0.5rem;">
        Especialidades
      </p>

      <div class="p-grid">
        <div class="p-col-3" *ngFor="let especialidade of personagem.listaEspecialidades; index as i;" align="center">
          <p-chip icon="pi pi-caret-up" [label]="especialidade.nome+': '+especialidade.valor"
                  [style]="{'font-size': '18px', 'background-color':'#2b2828', 'width': '96%', 'text-align': 'center', 'justify-content': 'center'}">
          </p-chip>
        </div>
      </div>

      <app-personagem-status [personagem]="personagem"></app-personagem-status>
    </p-card>


  </div>
</div>


