<div class="p-grid p-jc-center">
  <div class="p-col-12" style="width: 80%">
    <div class="caixa-texto-home">
      <p class="texto-home">
        Bem-vindo ao RPG Galaxy, esse site está destinado para você conhecer o universo, criar seu personagem e mestrar
        campanhas.
      </p>
    </div>
  </div>
  <div class="p-col-6" style="width: 40%">
    <app-mensagem [tipo]="'N'" [titulo]="'Novidades'"></app-mensagem>
  </div>

  <div class="p-col-6" style="width: 40%">
    <app-mensagem [tipo]="'A'" [titulo]="'Avisos'"></app-mensagem>
  </div>
</div>
