<p-confirmDialog [style]="{width: retornarTamanhoDialog()}" [baseZIndex]="10001" rejectButtonStyleClass="p-button-text" acceptLabel="sim" rejectLabel="não"></p-confirmDialog>
<p-toast [baseZIndex]="10002"></p-toast>
<p-card>
  <ng-template pTemplate="header">
    <div style="padding: 0.5rem 1rem 0 1rem;" class="p-grid">
      <p class="p-col-12 p-md-9 p-lg-9"
         style="font-size: 1.5rem; font-weight: 700; margin-bottom: 0.5rem;">
        Habilidades
      </p>
      <div class="p-col-12 p-md-3 p-lg-3">
        <button pButton pRipple label="Comprar habilidade" [style]="{'width':'100%'}"
                (click)="abrirDialogComprarHabilidade()"
                class="p-button-primary p-mr-md-3"></button>
      </div>
    </div>
  </ng-template>
  <p-table #dt [value]="personagem.listaHabilidade" [rows]="3" [paginator]="true" scrollHeight="200px"
           [globalFilterFields]="['titulo','descricao']" [scrollable]="false"
           [rowHover]="true" dataKey="id">
    <ng-template pTemplate="body" let-habilidade>
      <tr>
        <td class="p-grid item-habilidade">
          <p class="p-col-10 p-md-10 p-lg-10">
            {{habilidade.nome}}
          </p>
          <p class="p-col-2 p-md-2 p-lg-2">
            {{retornarTipoHabilidade(habilidade.tipo)}}
          </p>
          <p class="p-col-12 p-md-12 p-lg-12">
            {{habilidade.descricao}}
          </p>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Existe um total de {{personagem.listaHabilidade ? personagem.listaHabilidade.length : 0 }} Habilidade(s).
      </div>
    </ng-template>
  </p-table>
  <app-personagem-status [personagem]="personagem"></app-personagem-status>

  <p-dialog header="Comprar habilidade" [(visible)]="showDialogComprarHabilidades"
            #dialogComprarHabilidades (onShow)="showDialog(dialogComprarHabilidades)"
            [modal]="true" [style]="{width: '75vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

    <div class="p-grid">
      <p class="p-col-12 p-md-9 p-lg-9">
        Selecione a habilidade que deseja comprar:
      </p>
      <p class="p-col-12 p-md-3 p-lg-3">
        Total de Pontos: {{personagem.pontos.level - personagem.listaHabilidade.length}}
      </p>
    </div>

    <p-table #dt [value]="listaHabilidadePorClasse" [rows]="4" [paginator]="true" scrollHeight="200px"
             [globalFilterFields]="['titulo','descricao']" [scrollable]="false"
             [rowHover]="true" dataKey="id">
      <ng-template pTemplate="body" let-habilidade>
        <tr>
          <td class="p-grid item-habilidade">
            <div class="p-col-12 p-md-6 p-lg-6" style="font-size: 20px">
              <b>{{habilidade.nome}}</b>
            </div>
            <div class="p-col-6 p-md-3 p-lg-3">
              <b>Tipo: </b>
              {{retornarTipoHabilidade(habilidade.tipo)}}
            </div>
            <div class="p-col-6 p-md-3 p-lg-3">
              <b>LV necessário: </b>
              {{habilidade.levelNecessario}}
            </div>
            <div class="p-col-12 p-md-12 p-lg-12">
              <b>Descrição: </b>
              {{habilidade.descricao}}
            </div>
            <div class="p-col-12 p-md-9 p-lg-9">
              <b>Requisitos: </b>
              <div *ngFor="let requisito of habilidade.habilidadesRequisitos; index as i;" style="color: red">
                {{((requisito.atributo !== undefined) ? requisito.atributo.nome : requisito.especialidade.nome) + ': ' + requisito.valor}}
              </div>
            </div>
            <div class="p-col-12 p-md-3 p-lg-3">
              <button pButton pRipple label="Selecionar" [style]="{'width':'100%'}" (click)="confirmarCompra(habilidade)"
                      class="p-button-primary p-mr-md-3" icon="pi pi-bookmark"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-dialog>
</p-card>
