<div class="w3-sidebar w3-bar-block w3-collapse w3-animate-left"
     style="width:200px; background-image: linear-gradient(#ffd54f, #c1a13c) !important;
      z-index: 3001" id="mySidebar">
  <div class="p-d-flex p-jc-between w3-hide-large">
    <div class="testeHeader" style="color: #241d03; font-weight: bolder; font-size: 28px; margin: 0px 0px 0px 6px;">
      GALAXY
    </div>
    <button class="w3-teal w3-xlarge w3-hide-large"
            style="background-color: #fdd34e !important; float: right; border: none; color: black!important;"
            onclick="w3_close()">&times;
    </button>
  </div>
  <div>
    <a href="#" style="width: 100%; display: block; padding: 8px 16px; border-top: solid 1px #a28e4d;
                     text-align: left; white-space: normal;
                     float: none; outline: 0;"  routerLink="universo">Universo</a>
    <a href="#" style="width: 100%; display: block; padding: 8px 16px; border-top: solid 1px #a28e4d;
                     text-align: left; white-space: normal;
                     float: none; outline: 0;"  routerLink="campanha">Campanha</a>
    <a href="#" style="width: 100%; display: block; padding: 8px 16px;
                     border-top: solid 1px #a28e4d;
                     text-align: left; white-space: normal;
                     float: none; outline: 0;"  routerLink="personagens">Personagem</a>
    <a href="#" style="width: 100%; display: block; padding: 8px 16px;
    border-bottom: solid 1px #a28e4d; border-top: solid 1px #a28e4d;
                     text-align: left; white-space: normal;
                     float: none; outline: 0;"  routerLink="sobre">Sobre</a>
  </div>
</div>
