<p-toast [baseZIndex]="15000" position="top-center" key="tc"></p-toast>
<div id="mySidebar"
     class="w3-sidebar w3-bar-block w3-collapse w3-animate-left background-side-bar">

  <div class="p-d-flex w3-hide-large" style="border-bottom: solid 1px #a28e4d;">
    <button class="w3-teal w3-hide-large w3-xlarge botao-close-sidebar" onclick="w3_close()">
      <i class="pi pi-times icone-fechar-side-bar"></i>
    </button>
  </div>

  <div *ngIf="!isLogado" class="p-d-flex item-logar" (click)="showLogin = true">
    <p-avatar icon="pi pi-user" [styleClass]="'item-logar-icone-usuario'"
              [style]="{'border': 'solid #c2a23c', 'background-color':' #fdd34e00', 'color': 'black', 'text-align': 'center', 'justify-content': 'center', 'margin': '6px 0px 0px 8px'}"
              shape="circle"></p-avatar>
    <div class="item-logar-texto">
      logar/cadastrar-se
    </div>
  </div>

  <div routerLink="suaconta" onclick="w3_close()"
       *ngIf="isLogado" class="p-d-flex item-logar">
    <p-avatar icon="pi pi-user" [styleClass]="'item-logar-icone-usuario'"
              [style]="{'border': 'solid #c2a23c', 'background-color':' #fdd34e00', 'color': 'black', 'text-align': 'center', 'justify-content': 'center', 'margin': '6px 0px 0px 8px'}"
              shape="circle"></p-avatar>
    <div class="item-logar-texto">
      {{usuario.nome}}
    </div>
  </div>

  <div>
    <div class="item-padrao" routerLink="" onclick="w3_close()">Home</div>
    <div class="item-padrao" routerLink="universo" onclick="w3_close()">Universo</div>
    <div [hidden]="!isLogado" class="item-padrao" routerLink="campanha" onclick="w3_close()">Campanha</div>
    <div [hidden]="!isLogado" class="item-padrao" routerLink="personagens" onclick="w3_close()">Personagem</div>
    <div class="item-padrao" routerLink="sobre" onclick="w3_close()">Sobre</div>
    <div [hidden]="!isLogado" class="item-padrao" routerLink="" (click)="sair()" onclick="w3_close()">Sair</div>
  </div>

  <!--<app-footer></app-footer>-->
</div>
<p-dialog closeOnEscape="true" [header]="retornarTitulo()" [style]="{width: '50vw'}" modal="true"
          (onHide)="showCadastro = false"
          [(visible)]="showLogin" #dialogLogin (onShow)="showDialog(dialogLogin)" [baseZIndex]="10050">

  <div class="p-grid p-fluid" [style]="{marginTop: '20px'}" [hidden]="showCadastro">
    <div class="p-col-12 p-md-12">
      <div class="alert alert-danger" style="margin-bottom: 3px; margin-top: 3px"
           role="alert" [hidden]="mensagemErroLogin==null">
        {{mensagemErroLogin}}
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input id="loginInputEmail" type="email" class="form-control input-cadastro"
               [required]="true" [(ngModel)]="usuario.email" name="email" pInputText ngModel
               placeholder="Email">
      </div>
    </div>
    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
        <input id="loginInputPassword" type="password" class="form-control input-cadastro" pInputText ngModel
               [required]="true" [(ngModel)]="usuario.senha" name="senha" placeholder="Username">
      </div>
    </div>
    <div class="p-col-12 p-md-12">
      <button (click)="logar()" type="submit" class="btn btn-success btn-block btn-lg">Logar
      </button>
    </div>
    <a class="form-text text-muted link-cadastrar" (click)="showCadastro = true">
      Não tem conta? Clique aqui para cadastrar-se.
    </a>
  </div>

  <div class="p-grid p-fluid" [style]="{marginTop: '20px'}" [hidden]="!showCadastro">
    <div class="p-col-12 p-md-12">
      <div class="alert alert-danger" style="margin-bottom: 3px; margin-top: 3px"
           role="alert" [hidden]="mensagemErroCadastro==null">
        {{mensagemErroCadastro}}
      </div>
    </div>

    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
        <input id="cadastroInputNome" type="email" class="form-control input-cadastro" aria-describedby="emailHelp"
               [required]="true" [(ngModel)]="usuarioCadastro.nome" name="nome" pInputText placeholder="Nome">
      </div>
    </div>
    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input id="cadastroInputEmail" type="email" class="form-control input-cadastro" aria-describedby="emailHelp"
               [required]="true" [(ngModel)]="usuarioCadastro.email" name="email" pInputText
               placeholder="Email">
      </div>
    </div>
    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
        <input id="cadastroInputPassword" type="password" class="form-control input-cadastro" pInputText
               [required]="true" [(ngModel)]="usuarioCadastro.senha" name="senha" placeholder="Senha">
      </div>
    </div>
    <div class="p-col-12 p-md-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
        <input id="cadastroInputPasswordConfirmacao" type="password" class="form-control input-cadastro" pInputText
               [required]="true" [(ngModel)]="confirmacaoSenha" name="confirmacaoSenha"
               placeholder="Username">
      </div>
    </div>
    <div class="p-col-12 p-md-12">
      <button type="submit" (click)="cadastrarUsuario()" style="margin-top: 3px"
              class="btn btn-success btn-block btn-lg">Cadastrar-se
      </button>
    </div>
    <div class="p-col-12 p-md-12">
      <button type="submit" class="btn btn-danger btn-block btn-sm"
              (click)="showCadastro = false">Cancelar
      </button>
    </div>

  </div>
</p-dialog>
