.background-side-bar {
  width: 200px;
  background-image: linear-gradient(#ffd54f, #c1a13c) !important;
  z-index: 3001
}

.icone-fechar-side-bar {
  margin: 0px;
  position: relative;
  bottom: 15px;
  right: 2.1px;
  font-size: 17px;
}

.item-logar {
  height: 42px !important;
}

.item-logar:hover {
  background-color: #ddb946;
  cursor: pointer;
}

.item-logar-icone-usuario {
  border: solid #c2a23c;
  background-color: #fdd34e00;
  color: black;
  text-align: center;
  justify-content: center;
  margin: 6px 0px 0px 8px;
  font-weight: 500;
}

.item-logar-texto {
  padding: 8px;
  font-weight: 700;
}

.item-padrao {
  width: 100%;
  display: block;
  padding: 8px 16px;
  border-top: solid 1px #a28e4d;
  text-align: left;
  white-space: normal;
  float: none;
  outline: 0;
  font-weight: 600;
}

.item-padrao:hover {
  background-color: #ddb946;
  cursor: pointer;
}

.botao-close-sidebar {
  background-color: #FDD34E !important;
  border: solid #ecc549;
  color: black !important;
  justify-content: center;
  text-align: center;
  font-size: 30px !important;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: auto !important;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
}


.botao-close-sidebar:hover {
  background-color: #ddb946;
  cursor: pointer;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #181301;
  text-align: center;
  height: 27px;
}
