<div class="p-grid p-jc-center">
  <div class="p-col-10">
    <h3 style="color: #dddddd">Seus personagens:</h3>
    <p-messages [value]="msgs"></p-messages>
    <p-table #dt [value]="listaPersonagens" [rows]="3" [paginator]="true" scrollHeight="200px"
             [globalFilterFields]="['nome','titulo']" [scrollable]="false"
             [rowHover]="true" dataKey="id" currentPageReportTemplate=" {first} - {last} de {totalRecords} registros"
             [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="p-grid p-jc-center">
          <div class="p-col-6">
            <button pButton pRipple label="Novo Personagem" icon="pi pi-plus" class="p-button-success p-mr-md-3"
                    routerLink="cadastrar"></button>
          </div>
          <div class="p-col-6">
              <span class="p-input-icon-left" style="width: 100%">
                        <i class="pi pi-search"></i>
                        <input style="width: 100%" placeholder="Busca..."
                               pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
              </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" style="width: 100%">
        <tr>
          <th pSortableColumn="nome">Nome
            <p-sortIcon field="nome"></p-sortIcon>
          </th>
          <th pSortableColumn="titulo">Campanha
            <p-sortIcon field="titulo"></p-sortIcon>
          </th>
          <th>
            Ações
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-personagem>
        <tr>
          <td>{{personagem.nome}}</td>
          <td>{{personagem.campanha.titulo}}</td>
          <td>
            <button pButton pRipple icon="pi pi-trash" class=" p-button-warning"
                    style="height: 2em !important;"
                    (click)="excluir(personagem)"></button>
            <button pButton pRipple icon="pi pi-users" label="Mestrar" class="p-button-success"
                    style="height: 2em !important; margin-left: 8px"
                    (click)="jogar(personagem)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          Existe um total de {{listaPersonagens ? listaPersonagens.length : 0 }} Personagem(ns).
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

