<div class="p-grid p-jc-center">
  <div style="width: 94%">
    <div class="p-col-12">
      <p-steps [style]="{'backgroundColor': '#1e1e1e'}" [activeIndex]="abaAtual"
               [model]="itens" [readonly]="true"></p-steps>
    </div>
    <p-card [hidden]="!(abaAtual == 0)"
            header="Escolha a campanha que seu personagem vai participar:">
      <div class="p-grid p-jc-center">
        <div *ngFor="let campanha of campanhas; index as i;"
             class="p-col-5" (click)="clicar(campanha)"
             [ngClass]="retornarClasse(campanha.id)">
          <div class="item-interno">
            <p style="font-weight: bolder">
              {{campanha.titulo}}
            </p>
            <p>
              {{campanha.descricao}}
            </p>
          </div>
        </div>
      </div>
    </p-card>

    <p-card [hidden]="!(abaAtual == 1)">
      RACACLASSE
    </p-card>

    <p-card [hidden]="!(abaAtual == 2)">
      CARACTERISTICAS
    </p-card>

    <p-card [hidden]="!(abaAtual == 3)">
      HISTORIA
    </p-card>

    <p-button [hidden]="(abaAtual == 0)" [style]="{'widht': '100%', 'float': 'left'}"
              label="Anterior" icon="pi pi-chevron-left"
              (click)="prevPage()" iconPos="left"></p-button>

    <p-button [hidden]="(abaAtual == 3)" [style]="{'widht': '100%', 'float': 'right'}"
              label="Próximo" icon="pi pi-chevron-right" iconPos="right"
              [disabled]="desabilitarPorAba()" (onClick)="nextPage()"></p-button>
  </div>
</div>
