.item-campanha {
  margin: 2px;
  border-style: solid;
  border-color: #856615;
  text-align: center;
  padding: 5px;
}


.item-campanha :hover {
  background-color: #495057;
  border-color: #b1881c;
  cursor: pointer;
}

.item-campanha-ativo {
  margin: 2px;
  border-style: solid;
  text-align: center;
  padding: 5px;
  background-color: #929292;
  color: #252726;
  font-weight: bolder;
  border-color: #e5b228;
}
