<div class="p-grid p-jc-center">
  <div style="width: 94%">
    <div class="p-col-12">
      <p-steps [style]="{'backgroundColor': '#1e1e1e'}" [activeIndex]="abaAtual"
               [model]="itens" [readonly]="true"></p-steps>
    </div>

    <p-card [hidden]="!(abaAtual == 0)"
            header="Escolha a campanha que seu personagem vai participar:">
      <div class="p-grid p-jc-center">
        <div *ngFor="let campanha of campanhas; index as i;"
             class="p-col-5" (click)="this.personagem.campanha = campanha"
             [ngClass]="retornarClasse(campanha.id)">
          <div class="item-interno">
            <p style="font-weight: bolder">
              {{campanha.titulo}}
            </p>
            <p>
              {{campanha.descricao}}
            </p>
          </div>
        </div>
      </div>
    </p-card>

    <p-card
      [hidden]="!(abaAtual == 1)">
      <div class="p-grid p-jc-center">
        <div class="p-col-6">
          <p-button label="Raça" [style]="{'width':'100%'}"
                    icon="pi pi-bars" (onClick)="showSelecionarRaca = true">
          </p-button>
        </div>
        <div class="p-col-6">
          {{personagem.raca.id === null ? '' : 'Sua raça: ' + personagem.raca.nome}}
        </div>

        <div class="p-col-6">
          <p-button label="Classe" [style]="{'width':'100%'}"
                    [disabled]="personagem.raca.id === null"
                    icon="pi pi-check" (onClick)="showSelecionarClasse = true">
          </p-button>
        </div>
        <div class="p-col-6">
          {{personagem.classe.id === null ? '' : 'Sua classe: ' + personagem.classe.nome}}
        </div>
      </div>
    </p-card>

    <p-card [hidden]="!(abaAtual == 2)">
      <ng-template pTemplate="content">
        <div class="p-grid">
          <div class="p-col-8">
            <label for="nome">Nome:</label>
            <br/>
            <input id="nome" type="text"
                   pInputText [(ngModel)]="personagem.nome"
                   style="width: 100%">
          </div>
          <div class="p-col-4">
            <label>Gênero:</label>
            <br/>
            <div class="p-d-flex">
              <p-radioButton value="M" [(ngModel)]="personagem.sexo"
                             label="Masculino"></p-radioButton>
              <p-radioButton value="F" [(ngModel)]="personagem.sexo" style="margin-left: 12px"
                             label="Feminino"></p-radioButton>
              <p-radioButton value="I" [(ngModel)]="personagem.sexo" style="margin-left: 12px"
                             label="Indefinido"></p-radioButton>
            </div>
          </div>
          <div class="p-col-4">
            <label>Idade:</label>
            <br/>
            <p-inputNumber [(ngModel)]="personagem.idade" [style]="{'width': '100%'}"
                           [minFractionDigits]="2"></p-inputNumber>
          </div>
          <div class="p-col-4">
            <label>Altura (m):</label>
            <br/>
            <p-inputNumber [(ngModel)]="personagem.altura" mode="decimal" [style]="{'width': '100%'}"
                           [minFractionDigits]="2"></p-inputNumber>
          </div>
          <div class="p-col-4">
            <label>Peso (kg):</label>
            <br/>
            <p-inputNumber [(ngModel)]="personagem.peso" mode="decimal" [style]="{'width': '100%'}"
                           [minFractionDigits]="2"></p-inputNumber>
          </div>
          <div class="p-col-4">
            
          </div>
        </div>
      </ng-template>
    </p-card>

    <p-card [hidden]="!(abaAtual == 3)">
      HISTORIA
    </p-card>

    <p-button [hidden]="(abaAtual == 0)" [style]="{'widht': '100%', 'float': 'left'}"
              label="Anterior" icon="pi pi-chevron-left"
              (click)="prevPage()" iconPos="left"></p-button>

    <p-button [hidden]="(abaAtual == 3)" [style]="{'widht': '100%', 'float': 'right'}"
              label="Próximo" icon="pi pi-chevron-right" iconPos="right"
              [disabled]="desabilitarPorAba()" (onClick)="nextPage()"></p-button>
  </div>
</div>

<p-dialog header="Selecione sua raça" [(visible)]="showSelecionarRaca" [style]="{'width':'92%'}">
  <p-carousel [value]="racas" [numVisible]="1"
              [numScroll]="1" [circular]="false">
    <ng-template pTemplate="header">
    </ng-template>
    <ng-template let-raca pTemplate="item">
      <div class="p-grid">
        <div class="p-col-9">
          <h4>
            {{raca?.nome}}
          </h4>
          <p>
            Planeta de origem: {{raca?.nomePlaneta}}
          </p>
          <p style="text-align: justify">
            {{raca?.descricao}}
          </p>
          <p>
            Atributos Base:
          </p>
          <div class="p-grid">
            <div *ngFor="let atributo of raca.listaAtributos; index as j;"
                 class="p-col-4">
              {{atributo.nome}}:
              <span class="p-badge">{{atributo.valor}}</span>
            </div>
          </div>
        </div>
        <div class="p-col-3">
          <img src="assets/img/draconians.png" style="zoom: 0.7; width: 100%; height: 90%"
               alt="Draconians">
        </div>
        <hr class="solid" style="border-top: 3px solid #bbb;">
        <div class="p-col-4"></div>
        <div class="p-col-4">
          <p-button label="Selecionar" (onClick)="selecionarRaca(raca)"
                    [style]="{'width': '100%'}"></p-button>
        </div>
        <div class="p-col-4"></div>
      </div>
    </ng-template>
  </p-carousel>
</p-dialog>


<p-dialog header="Selecione sua classe" [style]="{'width':'92%'}"
          [(visible)]="showSelecionarClasse">
  <p-carousel [value]="personagem.raca.listaClasse" [numVisible]="1"
              [numScroll]="1" [circular]="false">
    <ng-template pTemplate="header">
    </ng-template>
    <ng-template let-classe pTemplate="item">
      <div class="p-grid">
        <div class="p-col-12">
          <h4>
            {{classe?.nome}}
          </h4>
          <p style="text-align: justify">
            {{classe?.descricao}}
          </p>
        </div>
        <div class="p-col-4"></div>
        <div class="p-col-4">
          <p-button label="Selecionar" (onClick)="selecionarClasse(classe)"
                    [style]="{'width': '100%'}"></p-button>
        </div>
        <div class="p-col-4"></div>
      </div>
    </ng-template>
  </p-carousel>
</p-dialog>


<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
