.item-campanha {
  margin: 2px;
  border-style: solid;
  border-color: #856615;
  text-align: center;
  padding: 5px;
}

.item-campanha :hover {
  background-color: #495057;
  border-color: #b1881c;
  cursor: pointer;
}

.item-campanha-ativo {
  margin: 2px;
  border-style: solid;
  text-align: center;
  padding: 5px;
  background-color: #929292;
  color: #252726;
  font-weight: bolder;
  border-color: #e5b228;
}

:host ::ng-deep .p-dropdown {
  width: 14rem;
}

.country-item-value {
  width: 17px;
}

.item-cor {
  border-style: solid;
  border-width: 2px;
  color: rgba(0, 0, 0, 0);
}

.item-cor:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
}

.item-cor-ativo {
  border-style: solid;
  border-width: 3px;
  border-color: #ffd54f;
  font-weight: bolder;
  margin: 6px;
}

.opcoes-sua-conta {
  width: 95%;
  height: 95%;
  padding: 8px;
  box-shadow: 0 0 1px 1px #000000;
}

.opcoes-sua-conta:hover {
  box-shadow: 0 0 1px 1px #ffdd6e;
  cursor: pointer;
}

.opcoes-sua-conta-ativo {
  width: 95%;
  height: 95%;
  padding: 8px;
  background: #252726;
  box-shadow: 0 0 2px 2px #ffdd6e;
}
