<div class="p-grid" style="padding-left: 2%; padding-right: 2%">
  <div class="p-col-12 p-md-6 p-lg-3">
    <button type="button" pButton icon="pi pi-chevron-down" [style]="{'width': '100%'}"
            label="Explorar o universo" (click)="menu.toggle($event)"></button>
    <p-slideMenu #menu [model]="itens" [popup]="true" [viewportHeight]="350" [backLabel]="'Voltar'"></p-slideMenu>
  </div>
  <div class="p-col-12 p-md-12 p-lg-12">
    <app-item-universo [itemUniverso]="itemUniverso">
    </app-item-universo>
  </div>
</div>
