.caixa-texto-home {
  border-width: 4px;
  border-color: #FFD54F;
  border-style: solid;
  border-radius: 19px;
  background-color: #000000cc;
}

.texto-home {
  background-color: #1e1e1eb8;
  color: #ffde75;
}

.p-datatable .p-:hover {
  background: #000000cc;
  color: #FFFFFF;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover {
  background: #000000cc;
  color: #FFFFFF;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody:hover {
  background: #000000cc;
  color: #FFFFFF;
}

.sumir-grande{
  display: block;
}

@media (max-width: 993px) {
  .sumir-grande {
    display: none !important;
  }
}

.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a:hover {
  padding: 1rem;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 3px;
  transition: box-shadow 0.2s;
  text-decoration: none !important;
  background-color: #202020  !important;
}
